body {
    font-family: Arial, sans-serif;
    background-image: url('../fondo.jpeg');
    background-size: cover; /* Cubre todo el viewport */
    background-position: center; /* Centra la imagen */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Ancho máximo del contenedor */
    width: 90%; /* Ancho del 90% en dispositivos pequeños */
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.login-container button {
    margin-bottom: 10px;
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}