body {
    font-family: Arial, sans-serif;
    background-image: url('../fondo.jpeg'); /* Asegúrate de que la ruta sea correcta */
    background-size: cover; /* Cubrir toda la ventana */
    background-position: center; /* Centrar la imagen de fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana */
    margin: 0;
}

form {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con un poco de transparencia */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    width: 300px; /* Ancho del formulario */
}

h4 {
    margin-bottom: 10px; /* Espacio debajo de los encabezados */
    color: #333; /* Color del texto */
}

input[type="text"],
input[type="password"] {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 15px; /* Espacio debajo de los campos */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 4px; /* Bordes redondeados */
    box-sizing: border-box; /* Incluir padding y border en el ancho total */
}

.button-container {
    display: flex; /* Usar flexbox para alinear los botones */
    justify-content: space-between; /* Espacio entre los botones */
    margin-top: 15px; /* Espacio encima del contenedor de botones */
}

button {
    background-color: #f00a0a; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    padding: 10px; /* Espaciado interno del botón */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    width: 48%; /* Ancho del botón */
    font-size: 16px; /* Tamaño de la fuente */
}

button:hover {
    background-color: #eb2121; /* Color de fondo al pasar el mouse */
}